<div class="welcome-container" style="margin-top: 45px;">
  <div class="welcome-message">
    <div class="header">
      <div class="user-avatar">
        <img src="assets/image/avatar.png" alt="User Avatar" class="rounded-circle avatar-img">
      </div>
      <h1>Welcome, {{ userName }}</h1>
    </div>
    <p>You can now explore our commercial dashboards.</p>
    <div class="separator"></div>
    <p>GSA BI, home to our application and website, embodies the ethos of 'Smart Dashboard, Smart Decision.' It serves as a dedicated platform for showcasing purchase and stock dashboards, streamlining decision-making processes. Its content is professional and encompasses proficient user management.</p>
  </div>
</div>
