<div class="container" style="margin-top: 100px">
  <div class="d-flex justify-content-center h-50">
    <div class="user_card col-md-6">
      <div class="d-flex justify-content-center">
        <div style="margin-top: 10px; margin-bottom: -90px;">
          <div style="margin-top: -70px;">
            <img src="assets/image/logo2.png" alt="Description de l'image" style="width: 280px; height: auto;" />
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form #passwordForm="ngForm" (ngSubmit)="onUpdatePassword()">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" name="newPassword" placeholder="New Password" required [(ngModel)]="newPassword" #newPasswordInput="ngModel">
          </div>
          <div *ngIf="newPasswordInput.invalid && newPasswordInput.touched" style="color: red;">Please enter a new password</div>
  
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required [(ngModel)]="confirmPassword" #confirmPasswordInput="ngModel">
          </div>
          <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched" style="color: red;">Passwords do not match</div>
  
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" class="btn login_btn" [disabled]="passwordForm.invalid || showLoading">
              <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
              <span *ngIf="showLoading">Loading...</span>
              <span *ngIf="!showLoading">Update Password</span>
            </button>
          </div>
          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              <a routerLink="/login" class="ml-2" style="color: #2C3E50;">Return to Login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
